@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Font-size = 1rem = 10px = 62.5% of 16px */
  font-size: 62.5%;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

button {
  background-color: purple;
  color: #fff;
  border: 0.1rem solid purple;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 2rem 3rem;
  cursor: pointer;
  overflow: hidden;
  margin: 1rem 0;
  position: relative;
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  background-color: #fff;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
