@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Font-size = 1rem = 10px = 62.5% of 16px */
  font-size: 62.5%;
}

body {
  background-color: #e1e1e1;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.title,
.key {
  background-color: #eee;
  border: 0.1rem solid #999;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  margin: 1rem;
  min-width: 15rem;
  position: relative;
}

.key small {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: #555;
  font-size: 1.6rem;
}

.title {
  margin-bottom: 5rem;
}

@media (max-width: 33.5em) {
  .title,
  .key {
    min-width: 10rem;
  }
}
